<section class="categories">
    <h4>INCLUDED IN ALL PLANS</h4>
    <div class="text-xl">All The TV You Love</div>
    <div class="sub-text">Stream full seasons of exclusive series, current-season episodes, hit movies, Hulu Originals, kids shows, and more.</div>

    <div class="covers">
        <div class="cover-1">
            <div class="cover-grad">
                <div class="cover-text">
                    <div class="sub-title">Past & Current Seasons
                        <h3>TV Shows</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="cover-2">
            <div class="cover-grad">
                <div class="cover-text">
                    <div class="sub-title">New & Classic
                        <h3>Movies</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="cover-3">
            <div class="cover-grad">
                <div class="cover-text">
                    <div class="sub-title">Groundbreaking
                        <h3>Hulu Originals</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="cover-4">
            <div class="cover-grad">
                <div class="cover-text">
                    <div class="sub-title">Add-on
                        <h3>Premium</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="live-sports">
    <div class="live-sport-content">
        <div class="text-xl">
            Live Sports
            <div class="sub-text">Catch your games at home or on the go. Stream live games from major college and pro leagues including the NCAA®, NBA, NHL, NFL, and more.</div>
        </div>
        <div class="live-sports-logos">
            <div>
                <img src="/assets/img/live-sports-logo-1.png">
            </div>

            <div>
                <img src="/assets/img/live-sports-logo-2.png">
            </div>

            <div>
                <img src="/assets/img/live-sports-logo-3.svg">
            </div>

            <div>
                <img src="/assets/img/live-sports-logo-4.png">
            </div>

        </div>

        <div class="legal-text">
            Live TV plan required. Regional restrictions, blackouts and additional terms apply. <a class="legal-text" href="#">See details</a>
        </div>
    </div>
</section>

