.movielist {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 4fr);
  padding: 2rem;
  overflow: scroll;

}

.movieContainer {

  display: block;
  padding: 2rem 1rem;
  text-align: center;
  position: relative;
  /* display: flex; */
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  transition: 0.2s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;

}

.movieContainer:hover{

  transform: translateY(-20px);
}

.movieContainer:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.952), rgba(0, 0, 0, 0.452));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 15px;
  pointer-events: none;
}

.movieContainer:hover::before {
  opacity: 1;

}

.movieContainer .info {
  position: absolute;
  top: 50%;
  left: 10%;
  text-align: left;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
  pointer-events: none;
}

.movieContainer:hover .info {
  opacity: 1;
}



/* .movieContainer p {
  color: white;
  transform: translateY(30px);

} */

.img_style {
  border-radius: 15px;
}


.movieCard {
  height: auto;
  cursor:pointer
}

.movieCard img {
  height: 100%;
  padding: 5px;
}


.loadingSpiner {
  display: flex;
  justify-content: center;
}


.loadmore{
  text-align: center;
  font-size: 2rem;
  color: white;
}

