<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>BROWSE</h3>
                    <ul>
                        <li><a href="#">Streaming Library</a></li>
                        <li><a href="#">Live TV</a></li>
                        <li><a href="#">Live News</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>HELP</h3>
                    <ul>
                        <li><a href="#">Account & Billing</a></li>
                        <li><a href="#">Plans & Pricing</a></li>
                        <li><a href="#">Supported Devices</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>ABOUT US</h3>
                    <ul>
                        <li><a href="#">Shop Trailblazers</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Jobs</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                    <p class="copyright">Trailblazers © 2022</p>
                </div>
            </div>
        </div>
    </footer>
</div>