<body>


<header class="header">

    <nav>
        <div class="navbarNav">
          <div class="navList">
            <ul>
              <li class="nav-item" >
                <a routerLink="/">Home</a>
              </li>
              <li class="nav-item" >
                <a routerLink="/movies">Moives</a>
              </li>
              <li class="nav-item" >
                <a data-toggle="modal" data-target="#exampleModal" > <i class="fas fa-search"></i> </a>

              </li>
            </ul>
          </div>
          <div class="accountList">
            <ul>
              <li>
                <a routerLink="/login">Login</a>
              </li>
              <li>
                <a routerLink="/register">Register</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>



    <div class="header-content">
        <h4>BUNDLE WITH ANY HULU PLAN & SAVE</h4>
        <img  routerLink="/" src="/assets/img/logo.png" alt="HULU" class="logo">
    </div>
    <!-- <router-outlet></router-outlet> -->
    <div class="header-content">
        <div class="header-text-1"> <p> Get endless entertainment, live sports, and the shows
            <br> and movies you love.</p></div>


        <button class="btn btn-cta">GET THE DISNEY BUNDLE</button>
        <div class="included-text"> <a class="included-text"href="#"> What's included?</a> See <a class="included-text" href="#"> Bundle terms.</a></div>
        <a class="sign-up-text" routerLink="/register">Sign up for Trailblazers only</a>
    </div>

</header>


</body>
